



<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="csss/style.css">

</head>

<!-- 
<body> 
  
  <header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html">My Snel</a></h1>
   
    <nav id="navbar" class="navbar text-light">
      <ul>

        <% if (user) { %>
          <li>welcom, <%= user.email %></li>
          <li><a class="nav-link scrollto text-light" href="/logout" style="color: white !important; ">Log out</a></li>
        <% } else { %>
          <li><a class="nav-link scrollto" href="/login">Se connecter</a></li>
          <li><a class="getstarted scrollto" href="/signup">S'inscrire</a></li>
          <% } %>
        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header>

  
  -->

<!-- End Header -->

    <!--
    <nav>
    <h1><a href="/">Bienvenue chez snel</a></h1>
    <ul>
      <% if (user) { %>
        <li>welcom, <%= user.email %></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
        <% } %>
 
    </ul>
  </nav>
  -->
  
  